/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
::selection{
    background-color:#DC3522;
}
body{
    background-color:#D9CB9E;    
    font-family: 'Myriad Set Pro', 'Lucida Grande', 'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif;
}
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.story{
    height:400px;
}

.story img{
    width: 100%;
    overflow: hidden;
    max-height:180px;
}

.story a{
    text-decoration: none;
    color: #333;
}

.story .typetag{
    display:inline;
    background-color:#333;
    color:#ffe;
    padding:5px;
    text-transform:uppercase;
}
.fa-fw {
    font-size: 1.75em;
}
.left{
    float: left;
}
.right{
    float:right;
}
.variable{
    color: blue;
}

.comment{
    color:forestgreen;
}

code{
    font-size:1.2em;
    font-weight:lighter;
    background:none;
}
.jumbotron{
    padding-top:50px;
    background-color: #f9f9f9;
    text-align:center;
}

.socialList{
    list-style: none;
    padding: 10px;
    border: none;
    width: 50px;
    position: fixed;
    top: 25%;
    margin: 0;
    left: 0;
    background-color: whitesmoke;
    z-index: 100;
}

.socialList li{
    display:inline-block;    
    font-size:1.5em;
    text-align:center;
}

i{
    color: #444;
}

i:hover {
    color: #DC3522;
    font-size:1.2em;
}

#cover{
    width:100%;
    height:100vh;
    padding:10px;
    padding-top:50px;
}

#cover>*{
     width: 70%;
     margin:auto;
     display:block;     
    border-bottom:1px solid #DC3522;
}

h1{
    text-align: center;
    padding:10px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-style: normal;
}

.container h1{
    display:block;     
    border-bottom:1px solid #DC3522;
    margin-bottom: 35px;
}
footer, .footer{
    font-size: .8em;
}
footer{    
    padding-bottom: 40px;
}
.footer a, .footer a:hover, footer a, footer a:hover{
    text-decoration: none;
    color:#DC3522;;
}

#cover .nav{
    border:none;
    padding-top:5%;
}

#cover .nav li{
    width:48%;
    margin:5px;
    background-color:#2A2C2B;
}

#cover .nav > li > a:hover,
#cover .nav > li > a:focus {
    background-color:#DC3522;
}

#cover .nav li a{
    color:white;
    text-align:center;
    text-transform:uppercase;
}

#imgs{
    position:relative;
    height:auto;
}

#imgs img{
    width:100%;
}

#imgs .base{
    position:relative;
}

#imgs .highlight{
    position: absolute;
    z-index: 1;
    top: 0px;
    left: 0px;
    overflow: hidden;
    width:0%;
}

.navbar{
    background-color:#2A2C2B;
    border:none;
}

.navbar img{
    height:45px;
    margin-left:30px;
    margin-top: 5px;
}

.undernav{
    padding-top:45px;
}
.nowrap{
    display: inline-block;
}
#resume{
    position: relative;
}

.resume-section{
    margin-top:30px;
     width:20%;
    display: inline-block;
    border: 1px dotted #374140;
    margin-right: 3%;
    cursor:pointer; 
    position: relative;
    bottom: 0;
}

.section-body{
    display:none;
}

.section-header img{
    width: 80%;
    display: block;
    margin: auto;
    min-height: 180px;
}

.section-header h2{
    display:block;
    width:100%;
    margin:0;
    text-align:center;
    text-transform: uppercase;
    font-size:1.5em;
}
.resume-section:hover {
bottom: -10px;
border: 1px solid #DC3522;
transition: all ease .5s;
}

.selected.resume-section, .selected.resume-section:hover {
    bottom: -20px;
    border: 2px solid #DC3522;
    border-bottom-color: #D9CB9E;
    transition: all ease .5s;
}
.selected .section-header h2{
    color: #DC3522;
}

.uppercase{
    text-transform: uppercase;
}

#displaywell{
    margin-top: 18px;
    border-top: 2px solid #DC3522;
    padding-top: 25px;
}

.hidden{
    display: none;
}

.categories li{
    background: #374140;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: .8em;
}
#filters{
    display: inline-block;
    margin-left:50px;
}
#samples>span{
    margin-left: 50px;
}

.categories{
    padding-left: 0;
}
ul#storylist {
list-style: none;
width: 100%;
padding-top: 40px;
border-top: 1px solid grey;
}
.storydiv {
    height: 150px;
    width: 300px;
    display: inline-block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#storylist>li{
    width: 100%;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dotted grey;
}

.details{
   display: inline-block;
    padding-left: 1.5%;
    vertical-align: top;
    width:50%;
}
.details h2{
   margin-top: 0;
   text-decoration: none;
   text-transform: uppercase;
   color: #333;
   font-size: 1.8em;
   letter-spacing: 5px;
   padding-left: 2%;
}
.details p {
padding-left: 2%;
}
.details a:hover{
    text-decoration: none;
}
.details h2:hover{
    color: #DC3522;
    background: #374140;
}

@media only screen and (max-width: 768px){
    #cover>*{
        width: 95%;
    }
    #cover .nav li {
        width: 100%;
    }
    .right, .left{
        float: none;
    }
    #intro{
        width: 80%;
        text-align: justify;
        margin: auto;
    }
    .section-header h2{
        font-size: 1.1em;
        font-weight: bold;
    }
    .storydiv{
        height: 200px;
        width: 90%;
    }
    .details{
        width: 90%;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 480px){
   .socialList{
        bottom: 0;
        top: initial;
        top:auto;
        width: 90%;
        text-align: center;
        margin: auto;
        left: 0;
        right: 0;
        background: #2A2C2B;
   }

   i{
    color: #D9CB9E;
   }
   #intro{
        width: 100%;
    }
   h1{
        font-size: 2em;
    }
    #displaywell{
        visibility: hidden;
        height: 5px;
    }
    .resume-section{
         width:100%;
         display: block;
        border: 1px dotted #374140;
        position:static;
        cursor: default;
    }
    .resume-section:hover {
        border: 1px dotted #374140;
    }
    .section-header{
        border-bottom: 1px solid #DC3522;
        height: auto;
    }
    .section-header img{
        width: 30%;
        display: inline-block;
        margin: 0;
        margin-left: 10px;
    }
    .section-header h2{        
        display: inline-block;
        font-size: 1.5em;
        width: auto;
        padding-left: 20px;
    }
    .section-body{
        display: block;
        margin:10px;
    }
    .selected.resume-section, .selected.resume-section:hover {
        border: 1px dotted #374140;
        border-bottom-color: #374140;
    }
    .selected .section-header h2{
        color: #374140;
    }
    #filters, #samples span{
        margin-left: 10px;
    }
}
@media only screen and (max-width:320px){
    .storydiv{
        height: 150px;
    }
}